cscope.*
tags
*.swp

configure
stamp-*
/autom4te.cache
/m4

Doxyfile
doc/mainpage.dox
doc/html/
doc/man/

Makefile
Makefile.in
config.*
.deps
.libs
*.o
*.lo
*.la
*.exe
*.dll
*.dylib

atconfig
depcomp
compile
aclocal.m4
libtool
missing
ltmain.sh
install-sh

oauth.pc
liboauth.lsm

tests/oauthbodyhash
tests/oauthdatapost
tests/oauthexample
tests/oauthsign
tests/oauthtest
tests/oauthtest2
tests/tcwiki
tests/tcother
tests/tceran

debian/*debhelper*
debian/*substvars*
debian/tmp
debian/files
debian/liboauth-dev
debian/liboauth0
